{% extends 'base.html' %}


{% block title %}Home Page{% endblock %}
{% block page_name %}Home page{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="product_name" placeholder="Product name" id="">
            </p>
            <p>
                <input type="number" name="product_price" placeholder="Product price" id="">
            </p>
            <button type="submit">Add Product</button>
        </form>
    {% endif %}
{% endblock %}